.grid-item {
  @apply  disabled:bg-red-600
          disabled:text-white
          hover:bg-cyan-400
                bg-slate-400
                border-2 border-cyan-700

}

.alphabet-buttons{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  border:0;
}
.alphabet-chars{
  font-family: 'Space Mono', serif;
  background: black;
  color: white;
  font-size: 2em;
  border:0;
  padding: 0.3em;
  text-align: center;
  width: 100%;
  height: 100px;
}



