
<input [(ngModel)]="service.wordLength" type="number" placeholder="Wortlänge eingeben"/>
<select [(ngModel)]="service.gameMode">
    <option  value="classic">Splatter-Mode</option>
    <option value="meme">Meme-Mode</option>
</select>
<br>
<button (click)="service.startGame()">Spiel starten</button>


<!-- @if (service.isGameRunning ) { -->
@if (true) {
<h3>DAS AKTUELLE WORT</h3>
<hr>
<p>Wort: {{ service.wort }}</p>
<hr>

<h3>Benutzte Falsche Chars</h3>
<hr>
<p>{{service.benutzteFalscheChars.length}}</p>
<p>{{ service.benutzteFalscheChars }}</p>
<hr>


<div id="output">

    <app-input id="input"></app-input>
    <app-gui></app-gui>

</div>

@if (service.isGameWon) {
    <h3>YOU WON!!!!!</h3>
    <button (click)="service.startGame()">Neues Spiel</button>
}

@if (service.isGameLost) {
    <h3>YOU LOST.... :( </h3>
    <button (click)="service.startGame()">Neues Spiel</button>
}

}

@else if (!service.isGameRunning) {
    <h3>Please start the game</h3>
}

