<a class="block text-center mx-auto">Wortlänge eingeben</a>
<input [(ngModel)]="service.wordLength" type="number" placeholder="Wortlänge eingeben" class="block text-center mx-auto my-4 border-2 border-cyan-700 rounde w-12 shadow"/>
<select [(ngModel)]="service.gameMode" class="block text-center mx-auto border-2">
    <option  value="classic">Splatter-Mode</option>
    <option value="meme">Meme-Mode</option>
</select>
<br>
<button (click)="service.startGame()" class="block text-center mx-auto my-4 border-2 border-cyan-700 rounded hover:bg-cyan-400">Spiel starten</button>


<!-- @if (service.isGameRunning ) { -->
@if (true) {
<!-- <h3>DAS AKTUELLE WORT</h3>
<hr>
<p>Wort: {{ service.wort }}</p>
<hr> -->


<div id="output">

    <app-input id="input"></app-input>
    <app-gui></app-gui>

</div>

@if (service.isGameWon) {
    
    <button (click)="service.startGame()" class="block text-center mx-auto my-4 border-2 border-cyan-700 rounded hover:bg-cyan-400">Neues Spiel</button>
    <img 
    class="float-none m4"
    src="assets/win.jpg" 
    alt="Win Image"
    width="500px"
    height="500px"
>
}

@if (service.isGameLost) {
    <p class="text-white text-4xl">Das Wort war: {{ service.wort }}</p>
    <button (click)="service.startGame()" class="block text-center mx-auto my-4 border-2 border-cyan-700 rounded hover:bg-cyan-400">Neues Spiel</button>
    <img 
    class="float-none m4"
    src="assets/lose.jpg" 
    alt="Lose Image"
    width="500px"
    height="500px"
    
>

}

}

@else if (!service.isGameRunning) {
    <h3>Please start the game</h3>
}

