
@if (!service.isGameStarted) {
    
    <p >Please Provide Board Size</p>
    <input  [(ngModel)]="boardSize" placeholder="Provide Board Size" type="number">
    
    <button (click)="service.startGame(boardSize)">Start Game</button>
}
<!-- If game has started -->
@if (service.isGameStarted) {

    <!-- Render the game field -->
    <div id="GameBoardArea" class="m-8">
        @for (row of service.gameBoard; track row; let rowIdx = $index) {
            <div class="flex justify-center">
                @for (item of row; track item; let itemIdx = $index) {
                    <div class="w-10 h-10 border border-gray-500"
                        [ngClass]="{
                            ' bg-red-500': service.isSnake([rowIdx, itemIdx]),
                            ' bg-green-500': service.isFood([rowIdx, itemIdx])
                        }" >
                    </div>
                }
            </div>
        }

        <div class="arrow-keys">
            <button (click)="service.onArrowClick(directionU)">↑</button>
            <div>
              <button (click)="service.onArrowClick(directionL)">←</button>
              <button (click)="service.onArrowClick(directionR)">→</button>
            </div>
            <button (click)="service.onArrowClick(directionD)">↓</button>
          </div>

    </div>

    <button (click)="service.endGame()">End Game</button>
}
