
@if (!service.isGameStarted) {
    
    <p >Please Provide Board Size</p>
    <input  [(ngModel)]="boardSize" placeholder="Provide Board Size" type="number">
    
    <button (click)="service.startGame(boardSize)">Start Game</button>
}
<!-- If game has started -->
@if (service.isGameStarted) {

    <!-- Render the game field -->
    <div id="GameBoardArea" class="m-8 border-2 border-cyan-800">
        @for (row of service.gameBoard; track rowIdx; let rowIdx = $index) {

            <div class="flex justify-center">

                @for (item of row; track itemIdx; let itemIdx = $index) {

                    <div class="w-10 h-10 border border-gray-500"
                        [ngClass]="{
                            ' bg-red-500': service.isSnake([rowIdx, itemIdx]),
                            ' bg-green-500': service.isEatable([rowIdx, itemIdx])
                        }" >
                    </div>
                }
            </div>
        }

        <!-- Arrow Keys that display the current direction -->
        <div class="arrow-keys flex flex-row">
            <button 
                [ngClass]="{'bg-gray-500': service.gameSnake?.direction === directionU}"
                (click)="service.onArrowClick(directionU)">↑</button>
            <div>
              <button 
                [ngClass]="{'bg-gray-500': service.gameSnake?.direction === directionL}"
                (click)="service.onArrowClick(directionL)">←</button>
              <button 
                [ngClass]="{'bg-gray-500': service.gameSnake?.direction === directionR}"
                (click)="service.onArrowClick(directionR)">→</button>
            </div>
            <button 
            [ngClass]="{'bg-gray-500': service.gameSnake?.direction === directionD}"
                (click)="service.onArrowClick(directionD)">↓</button>
        </div>

    </div>

    <button (click)="service.endGame()">End Game</button>
    <app-ui></app-ui>
}
